h1,h2,h3,p {
    text-align: center;
}

///nav
.nav li{
    display: inline-block;
    margin: 2%;
}
.logo {
    color: gold;
    padding: 2%;
}

//header
.header {
    padding-top: 10%;
    padding-bottom: 10%;
    
}
header{
    
    background-color: red;
}
section {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

//portfolio 

.service {
    position: relative;
    margin-top: 5%;
}
.fas {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: gold;
    font-size: 60px;
    padding-bottom: 20%;
}
.icons {
    padding-top: 5%;
}